body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #2d0330;
    font-family: 'Times New Roman', Times, serif
}

.survey-form {
    background-color: #d4bfce;
    border-radius: 20px;
    padding: 34px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 500px;
    text-align: left;
    size: 5px   ;
    margin: 20px;
}

h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

.form-group {
    margin-bottom: 8px;
}

label {
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.checkbox-group {
    display: flex;
    align-items: center;
}

.checkbox-group label {
    margin-right: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
}

button[type="reset"] {
    color: white;
    background-color: #ccc;
}

button:hover {
    background-color: #0056b3;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 400px;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #888;
}

.close:hover {
    color: #333;
}
/* ... */
.radio-group {
    display: flex;
    align-items: center;
}

.radio-group label {
    margin-right: 10px;
}

/* ... */
